{% extends 'base.html' %}
{% load static %}
{% block content %}
 <nav style="background-color:black;"class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <!--<a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="assets/img/navbar-logo.svg" alt="" /></a>-->
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ml-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ml-auto">
                        <li class="nav-item" ><a class="nav-link js-scroll-trigger" href="#services">Services</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="">Blogs</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#team">Team</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav><br>
        <div class="container" style="margin-left:227px;">
         <h5 class="card-header">Search</h5>
          <div class="card-body"><form method="GET" action="">
            <div class="input-group" style="width:30%">  
              <input type="text" name="search" class="form-control" placeholder="Search for..." >
              <span class="input-group-append">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div></form>
          </div>
          </div>
<div style="margin-left:250px;">
<div class="container justify-content-center">
  <div class="row">
  {% for result in blogs %}
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{result.cover_image.url}}" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">{{result.title}}</p>
    Published on:{{result.date_posted}}
    by {{result.author}}
  </div>
  
</div>
    </div>{% endfor %}
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
    </div>
  </div>
</div></div>
  <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
        <br><br><br><br><br><br>
{% endblock content %}
