{% extends 'base.html' %}
{% load static %}
{% block content %}
 <nav style="background-color:black;"class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <!--<a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="assets/img/navbar-logo.svg" alt="" /></a>-->
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ml-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ml-auto">
                        <li class="nav-item" ><a class="nav-link js-scroll-trigger" href="#services">Services</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="">Blogs</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#team">Team</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav><br><form method="GET" action="">
        <div class="container" style="margin-left:100px;">
         <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group" style="width:30%">  
              <input type="text" name="search" class="form-control" placeholder="Search for..." >
              <span class="input-group-append">
                <button class="btn btn-secondary" type="submit">Go!</button>
              </span>
            </div>
          </div>
          </div></form>
<div style="margin-left:40px;">
<div class="container justify-content-center">
  <div class="row" >
  {% comment  %}
  {% for result in blogs %}
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{result.cover_image.url}}" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">{{result.title}}</p>
    Published on:{{result.date_posted}}
    by {{result.author}}
  </div>
  
</div>
    </div>{% endfor %}
    {% endcomment %}
    {% for result in blogs %}
                  <article class="col-12 col-md-6" data-aos="zoom-in"
                    data-aos-delay="100" style="background-color:#ebe7e6;margin-top:25px;margin-bottom:20px;border-right:1px solid #c2bfbe;">
                        <hr>
                        <a href="{% comment  %}{% url 'blog:post-detail' result.id%}
                        {% endcomment %}" class="effect-lily">
                            <div>
                                <img src="{{result.cover_image.url}}" alt="Image" class="img-fluid" style="width:500px;height:300px">                            
                            </div>
                            <h2 style="color:black">{{result.title}}</h2>
                        </a>                                            
                        <div class="d-flex justify-content-between pt-4">
                            
                            <span>{{result.date_posted.date }}</span>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            
                            <span>by {{result.author}}</span>
                        </div>
                    </article>
                    {% empty %}
                    add something to show no results
                {% endfor %}
  </div>
</div></div>
{% if is_paginated %}
  <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
  {% if page_obj.has_previous %}
    <li class="page-item ">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
    </li>
    {% endif %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a> {% endif %}
    </li>
  </ul>
</nav>
{% endif %}
        <br><br><br><br><br><br>
{% endblock content %}
